.edited-border {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #000;
}

.text-pink {
  color: #db61a2 !important;
}

.btn-dark-active {
    box-shadow: 0 0 0 .25rem rgba(66,70,73,.5) !important;
}

.v-align-middle {
  vertical-align: middle !important;
}
