<div class="pb-2">
  <div class="h4 text-muted mb-0">
    Skadiv&apos;s
  </div>
  <h2 class="anchored">#003 - Chonkers</h2>
  {% include_relative resources/titles/no-title.html %}
  <div class="img-container">
    <img class="img-fluid" style="padding-top: 0.5px;" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/venusaur.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/dusk.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Venusaur</span> | <span class="male">M</span> | {% include_relative resources/shiny/square.html %}</h5>
  <div class="text-muted">
    <span class="female">Mica</span> | <span class="text-light">293249</span> | {% include_relative resources/origin/sword.html %}
  </div>
  <div>
    <div data-bs-toggle="tooltip" title="Minted from Adamant" class="text-muted">
      <span class="text-light">22</span> |
      <span class="text-primary">24</span> |
      <span class="text-light">31</span> |
      <span class="text-danger">31</span> |
      <span class="text-light">31</span> |
      <span class="text-light">16</span>
    </div>
  </div>
  <br />
  <p>
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#chonkers-collapse" aria-expanded="false" aria-controls="chonkers-collapse">
      Notes &amp; Information
    </button>
  </p>
  <div id="chonkers-collapse" class="collapse">
    <div class="card card-body bg-dark">
      <p>
        Chonkers is from the first Bulbasaur distribution raid in SwSh, and is so named because
        they are big, fat, and wide. This hefty flower frog is a true chonker.
      </p>
    </div>
  </div>
  <br />
  <hr />
  <br />
</div>