<div class="pb-2">
  <div class="h4 text-muted mb-0">
    kasib&apos;s
  </div>
  <h2 class="anchored">#0094 - Gengar</h2>
  {% include_relative resources/titles/cloud-watcher.html %}
  <div class="img-container">
    <img class="img-fluid" style="padding-top: 4.5px;" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/gengar.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/luxury.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Gengar</span> | <span class="female">F</span> | {% include_relative resources/shiny/square.html %}</h5>
  <div class="text-muted">
    <span class="female">Saiph</span> | <span class="text-light">228319</span> | {% include_relative resources/origin/shield.html %}
  </div>
  <div>
    <div class="text-muted">
      <span class="text-light">19</span> |
      <span class="text-primary">28</span> |
      <span class="text-light">0</span> |
      <span class="text-light">2</span> |
      <span class="text-light">14</span> |
      <span class="text-danger">25</span>
    </div>
  </div>
  <br />
  <p>
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#gengar-collapse" aria-expanded="false" aria-controls="gengar-collapse">
      Notes &amp; Information
    </button>
  </p>
  <div id="gengar-collapse" class="collapse">
    <div class="card card-body bg-dark">
      <div>
        <img class="img-fluid" src="../showcase/resources/images/thegengar.png" />
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />
</div>