<div class="pb-2">
  <div class="h4 text-muted mb-0">
    Max. Optimizer&apos;s
  </div>
  <h2 class="anchored">#461 - Giorno</h2>
  {% include_relative resources/titles/living-legend.html %}
  <div class="img-container-80">
    <img class="img-fluid" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/weavile.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/premier.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Weavile</span> | <span class="male">M</span> | {% include_relative resources/shiny/square.html %}</h5>
  <div class="text-muted">
    <span class="male">Chris</span> | <span class="text-light">1985</span> | {% include_relative resources/origin/colo.html %}
  </div>
  <div>
    <div class="text-muted">
      <span class="text-light">31</span> |
      <span class="text-light">31</span> |
      <span class="text-light">31</span> |
      <span class="text-primary">21</span> |
      <span class="text-light">31</span> |
      <span class="text-danger">31</span>
    </div>
  </div>
  <br />
  <p>
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#giorno-collapse" aria-expanded="false" aria-controls="giorno-collapse">
      Notes &amp; Information
    </button>
  </p>
  <div id="giorno-collapse" class="collapse">
    <div class="card card-body bg-dark">
      <p>
        Placeholder Description
      </p>
    </div>
  </div>
  <br />
  <hr />
  <br />
</div>