<div class="pb-2">
  <div class="h4 text-muted mb-0">
    Skadiv&apos;s
  </div>
  <h2 class="anchored">#830 - Barbara</h2>
  {% include_relative resources/titles/galar-champion.html %}
  <div class="img-container">
    <img class="img-fluid" src="../showcase/resources/images/830.gif" />
  </div>
  <div class="text-muted fst-italic">
    Sprite by <a class="text-muted text-decoration-none" href="https://www.smogon.com/forums/threads/3647722/" target="_blank">leParagon/PumpkinPastel <i style="font-size:0.7rem;" class="bi bi-box-arrow-up-right"></i></a>
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/poke.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Eldegoss</span> | <span class="female">F</span></h5>
  <div class="text-muted">
    <span class="female">Mica</span> | <span class="text-light">896254</span> | {% include_relative resources/origin/sword.html %}
  </div>
  <div>
    <div data-bs-toggle="tooltip" title="Hardy Nature" class="text-muted">
      <span class="text-light">0</span> |
      <span class="text-light">18</span> |
      <span class="text-light">16</span> |
      <span class="text-light">1</span> |
      <span class="text-light">24</span> |
      <span class="text-light">4</span>
    </div>
  </div>
  <br />
  <p>
    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#barbara-collapse" aria-expanded="false" aria-controls="barbara-collapse">
      Notes &amp; Information
    </button>
  </p>
  <div id="barbara-collapse" class="collapse">
    <div class="card card-body bg-dark">
      <p>
        Placeholder Description
      </p>
    </div>
  </div>
  <br />
  <hr />
  <br />
</div>