<script type="text/javascript">
  var url = window.location.pathname;
  var pathname = url.slice(1, url.indexOf("/", 1)).toLowerCase();
  switch (pathname) {
    case "tools":
      $("#nav-tools").addClass("text-secondary").removeClass("text-white");
      break;

    case "misc":
      $("#nav-misc").addClass("text-secondary").removeClass("text-white");
      break;

    case "hidden-grotto":
    case "showcase":
      $("#nav-showcase").addClass("text-secondary").removeClass("text-white");
      break;

    case "fr":
      $("#nav-fr").addClass("text-secondary").removeClass("text-white");
      break;

    case "lw":
      $("#nav-lw").addClass("text-secondary").removeClass("text-white");
      break;

    default:
      $("#nav-home").addClass("text-secondary").removeClass("text-white");
  }
  if (url.toLowerCase().endsWith(".git")) {
    window.location.replace(
      "https://github.com/LegoFigure11/legofigure11.github.io"
    );
  }
</script>
