<select id="{{include.id}}" class="form-select colorDropdown">
  <option value="1" class="color-Black">Black</option>
  <option value="2" class="color-Midnight">Midnight</option>
  <option value="3" class="color-Slate">Slate</option>
  <option value="4" class="color-Abyss">Abyss</option>
  <option value="5" class="color-Chalk">Chalk</option>
  <option value="6" class="color-Granite">Granite</option>
  <option value="7" class="color-Shadow">Shadow</option>
  <option value="8" class="color-Ash">Ash</option>
  <option value="9" class="color-Fossil">Fossil</option>
  <option value="10" class="color-Stone">Stone</option>
  <option value="11" class="color-Dust">Dust</option>
  <option value="12" class="color-Silver">Silver</option>
  <option value="13" class="color-Grey">Grey</option>
  <option value="14" class="color-White">White</option>
  <option value="15" class="color-Cloud">Cloud</option>
  <option value="16" class="color-Ice">Ice</option>
  <option value="17" class="color-Frost">Frost</option>
  <option value="18" class="color-Rain">Rain</option>
  <option value="19" class="color-Mist">Mist</option>
  <option value="20" class="color-Winter">Winter</option>
  <option value="21" class="color-Storm">Storm</option>
  <option value="22" class="color-Imperial">Imperial</option>
  <option value="23" class="color-Wind">Wind</option>
  <option value="24" class="color-Blueberry">Blueberry</option>
  <option value="25" class="color-Lead">Lead</option>
  <option value="26" class="color-Navy">Navy</option>
  <option value="27" class="color-Indigo">Indigo</option>
  <option value="28" class="color-Twilight">Twilight</option>
  <option value="29" class="color-Cobalt">Cobalt</option>
  <option value="30" class="color-Ultramarine">Ultramarine</option>
  <option value="31" class="color-Lake">Lake</option>
  <option value="32" class="color-Azure">Azure</option>
  <option value="33" class="color-Royal">Royal</option>
  <option value="34" class="color-Cornflower">Cornflower</option>
  <option value="35" class="color-Shroud">Shroud</option>
  <option value="36" class="color-Electric">Electric</option>
  <option value="37" class="color-Blue">Blue</option>
  <option value="38" class="color-Cerulean">Cerulean</option>
  <option value="39" class="color-Rune">Rune</option>
  <option value="40" class="color-River">River</option>
  <option value="41" class="color-Sky">Sky</option>
  <option value="42" class="color-Cyan">Cyan</option>
  <option value="43" class="color-Glacier">Glacier</option>
  <option value="44" class="color-Celeste">Celeste</option>
  <option value="45" class="color-Egg">Egg</option>
  <option value="46" class="color-Horizon">Horizon</option>
  <option value="47" class="color-Water">Water</option>
  <option value="48" class="color-Blizzard">Blizzard</option>
  <option value="49" class="color-Powder">Powder</option>
  <option value="50" class="color-Coast">Coast</option>
  <option value="51" class="color-Mint">Mint</option>
  <option value="52" class="color-Ocean">Ocean</option>
  <option value="53" class="color-Jade">Jade</option>
  <option value="54" class="color-Parsley">Parsley</option>
  <option value="55" class="color-Turtle">Turtle</option>
  <option value="56" class="color-Phthalo">Phthalo</option>
  <option value="57" class="color-Artichoke">Artichoke</option>
  <option value="58" class="color-Grass">Grass</option>
  <option value="59" class="color-Emerald">Emerald</option>
  <option value="60" class="color-Seaweed">Seaweed</option>
  <option value="61" class="color-Sage">Sage</option>
  <option value="62" class="color-Clover">Clover</option>
  <option value="63" class="color-Universe">Universe</option>
  <option value="64" class="color-Avocado">Avocado</option>
  <option value="65" class="color-Spruce">Spruce</option>
  <option value="66" class="color-Vine">Vine</option>
  <option value="67" class="color-Forest">Forest</option>
  <option value="68" class="color-Reed">Reed</option>
  <option value="69" class="color-Basil">Basil</option>
  <option value="70" class="color-Swamp">Swamp</option>
  <option value="71" class="color-Frog">Frog</option>
  <option value="72" class="color-Juniper">Juniper</option>
  <option value="73" class="color-Pine">Pine</option>
  <option value="74" class="color-Moss">Moss</option>
  <option value="75" class="color-Jungle">Jungle</option>
  <option value="76" class="color-Rosemary">Rosemary</option>
  <option value="77" class="color-Summer">Summer</option>
  <option value="78" class="color-Fern">Fern</option>
  <option value="79" class="color-Venom">Venom</option>
  <option value="80" class="color-Green">Green</option>
  <option value="81" class="color-Thyme">Thyme</option>
  <option value="82" class="color-Lime">Lime</option>
  <option value="83" class="color-Neon">Neon</option>
  <option value="84" class="color-Sprout">Sprout</option>
  <option value="85" class="color-Pear">Pear</option>
  <option value="86" class="color-Toxin">Toxin</option>
  <option value="87" class="color-Blond">Blond</option>
  <option value="88" class="color-Cream">Cream</option>
  <option value="89" class="color-Banana">Banana</option>
  <option value="90" class="color-Butter">Butter</option>
  <option value="91" class="color-Yellow">Yellow</option>
  <option value="92" class="color-Sunrise">Sunrise</option>
  <option value="93" class="color-Mustard">Mustard</option>
  <option value="94" class="color-Apricot">Apricot</option>
  <option value="95" class="color-Orange">Orange</option>
  <option value="96" class="color-Ochre">Ochre</option>
  <option value="97" class="color-Honeydew">Honeydew</option>
  <option value="98" class="color-Potato">Potato</option>
  <option value="99" class="color-Pumpkin">Pumpkin</option>
  <option value="100" class="color-Carrot">Carrot</option>
  <option value="101" class="color-Autumn">Autumn</option>
  <option value="102" class="color-Russet">Russet</option>
  <option value="103" class="color-Cinnamon">Cinnamon</option>
  <option value="104" class="color-Bronze">Bronze</option>
  <option value="105" class="color-Caramel">Caramel</option>
  <option value="106" class="color-Acorn">Acorn</option>
  <option value="107" class="color-Chestnut">Chestnut</option>
  <option value="108" class="color-Pecan">Pecan</option>
  <option value="109" class="color-Umber">Umber</option>
  <option value="110" class="color-Ebony">Ebony</option>
  <option value="111" class="color-Chocolate">Chocolate</option>
  <option value="112" class="color-Seal">Seal</option>
  <option value="113" class="color-Carob">Carob</option>
  <option value="114" class="color-Taupe">Taupe</option>
  <option value="115" class="color-Mocha">Mocha</option>
  <option value="116" class="color-Silt">Silt</option>
  <option value="117" class="color-Cedar">Cedar</option>
  <option value="118" class="color-Mahogany">Mahogany</option>
  <option value="119" class="color-Bark">Bark</option>
  <option value="120" class="color-Clay">Clay</option>
  <option value="121" class="color-Brown">Brown</option>
  <option value="122" class="color-Tawny">Tawny</option>
  <option value="123" class="color-Sepia">Sepia</option>
  <option value="124" class="color-Hazelnut">Hazelnut</option>
  <option value="125" class="color-Elm">Elm</option>
  <option value="126" class="color-Seed">Seed</option>
  <option value="127" class="color-Fawn">Fawn</option>
  <option value="128" class="color-Ginger">Ginger</option>
  <option value="129" class="color-Tan">Tan</option>
  <option value="130" class="color-Beige">Beige</option>
  <option value="131" class="color-Oak">Oak</option>
  <option value="132" class="color-Sand">Sand</option>
  <option value="133" class="color-Oyster">Oyster</option>
  <option value="134" class="color-Blossom">Blossom</option>
  <option value="135" class="color-Peony">Peony</option>
  <option value="136" class="color-Coral">Coral</option>
  <option value="137" class="color-Salmon">Salmon</option>
  <option value="138" class="color-Hibiscus">Hibiscus</option>
  <option value="139" class="color-Tomato">Tomato</option>
  <option value="140" class="color-Azalea">Azalea</option>
  <option value="141" class="color-Watermelon">Watermelon</option>
  <option value="142" class="color-Rust">Rust</option>
  <option value="143" class="color-Scarlet">Scarlet</option>
  <option value="144" class="color-Lava">Lava</option>
  <option value="145" class="color-Red">Red</option>
  <option value="146" class="color-Saffron">Saffron</option>
  <option value="147" class="color-Strawberry">Strawberry</option>
  <option value="148" class="color-Crimson">Crimson</option>
  <option value="149" class="color-Radish">Radish</option>
  <option value="150" class="color-Maroon">Maroon</option>
  <option value="151" class="color-Auburn">Auburn</option>
  <option value="152" class="color-Cherry">Cherry</option>
  <option value="153" class="color-Carmine">Carmine</option>
  <option value="154" class="color-Blood">Blood</option>
  <option value="155" class="color-Garnet">Garnet</option>
  <option value="156" class="color-Cranberry">Cranberry</option>
  <option value="157" class="color-Rosewood">Rosewood</option>
  <option value="158" class="color-Currant">Currant</option>
  <option value="159" class="color-Burgundy">Burgundy</option>
  <option value="160" class="color-Beetroot">Beetroot</option>
  <option value="161" class="color-Amaranth">Amaranth</option>
  <option value="162" class="color-Sunset">Sunset</option>
  <option value="163" class="color-Ruby">Ruby</option>
  <option value="164" class="color-Fuchsia">Fuchsia</option>
  <option value="165" class="color-Rose">Rose</option>
  <option value="166" class="color-Pink">Pink</option>
  <option value="167" class="color-Cerise">Cerise</option>
  <option value="168" class="color-Tulip">Tulip</option>
  <option value="169" class="color-Spring">Spring</option>
  <option value="170" class="color-Peach">Peach</option>
  <option value="171" class="color-Carnation">Carnation</option>
  <option value="172" class="color-Begonia">Begonia</option>
  <option value="173" class="color-Flamingo">Flamingo</option>
  <option value="174" class="color-Blush">Blush</option>
  <option value="175" class="color-Quartz">Quartz</option>
  <option value="176" class="color-Pastel">Pastel</option>
  <option value="177" class="color-Pearl">Pearl</option>
  <option value="178" class="color-Thistle">Thistle</option>
  <option value="179" class="color-Pansy">Pansy</option>
  <option value="180" class="color-Lavender">Lavender</option>
  <option value="181" class="color-Lilac">Lilac</option>
  <option value="182" class="color-Foxglove">Foxglove</option>
  <option value="183" class="color-Orchid">Orchid</option>
  <option value="184" class="color-Heather">Heather</option>
  <option value="185" class="color-Iris">Iris</option>
  <option value="186" class="color-Jacaranda">Jacaranda</option>
  <option value="187" class="color-Violet">Violet</option>
  <option value="188" class="color-Iolite">Iolite</option>
  <option value="189" class="color-Purple">Purple</option>
  <option value="190" class="color-Eminence">Eminence</option>
  <option value="191" class="color-Grape">Grape</option>
  <option value="192" class="color-Amethyst">Amethyst</option>
  <option value="193" class="color-Mauve">Mauve</option>
  <option value="194" class="color-Wolfsbane">Wolfsbane</option>
  <option value="195" class="color-Fig">Fig</option>
  <option value="196" class="color-Acai">Acai</option>
  <option value="197" class="color-Haze">Haze</option>
  <option value="198" class="color-Elderberry">Elderberry</option>
  <option value="199" class="color-Eggplant">Eggplant</option>
  <option value="200" class="color-Onion">Onion</option>
  <option value="201" class="color-Plum">Plum</option>
</select>
