<div class="container">
  <ul class="list-inline mb-0 text-center">
    <li class="list-inline-item text-muted">
      Maintained by
      <a
        class="text-decoration-none text-muted"
        href="https://github.com/LegoFigure11"
        ><i class="bi bi-github"></i> LegoFigure11</a
      >
      // <i class="bi bi-discord"></i> legofigure11
    </li>
    <li class="list-inline-item text-muted d-none d-md-inline">|</li>
    <li class="list-inline-item text-muted">
      <a
        id="source"
        class="text-muted text-decoration-none"
        href="https://github.com/LegoFigure11/legofigure11.github.io"
        target="_blank"
        >Source code for this page</a
      >
    </li>
    <li class="list-inline-item text-muted d-none d-lg-inline">|</li>
    <li class="list-inline-item text-muted">
      Current Version:
      <a id="version" class="text-muted text-decoration-none" target="_blank"
        >{{ site.github.build_revision }}</a
      > (Built at: {{ site.time }})
    </li>
    <li class="list-inline-item text-muted d-none d-sm-inline">|</li>
    <li class="list-inline-item text-muted">
      <u
        data-bs-toggle="tooltip"
        data-bs-html="true"
        title="This site uses Google Analytics and the Google <a href='https://policies.google.com/privacy'  class='text-info' target='_blank'>Privacy Policy</a> and <a href='https://policies.google.com/terms' class='text-info' target='_blank'>Terms of Service</a> apply."
        style="text-decoration-style: dotted"
      >
        Privacy
      </u>
    </li>
  </ul>
</div>
