<div class="container">
  <ul class="list-inline mb-0">
    <li class="list-inline-item text-muted">
      Maintained by <i class="bi bi-github"></i> LegoFigure11 // <i class="bi bi-discord"></i> LegoFigure11#1390
    </li>
    <li class="list-inline-item text-muted">
      |
    </li>
    <li class="list-inline-item text-muted">
      <a id="source" class="text-muted text-decoration-none" href="https://github.com/LegoFigure11/legofigure11.github.io" target="_blank">Source code for this page</a>
    </li>
    <li class="list-inline-item text-muted">
      |
    </li>
    <li class="list-inline-item text-muted">
      Current Version: <a id="version" class="text-muted text-decoration-none" target="_blank">{{ site.github.build_revision }}</a>
    </li>
  </ul>
</div>