<!-- Image pop-up html -->
<div id="image-popup" class="popup">
  <span class="popup-close">&times;</span>
  <img id="popup-image" class="popup-image" src="" alt="Image not available" />
</div>

<script>
  var pagepath = window.location.pathname;
  if (pagepath.includes("/tools/") && !pagepath.endsWith("/tools/") && !pagepath.includes("desktop")) {
    pagepath = pagepath.replace("/tools/", "/tools/web/");
  }
  $("#source").prop(
    "href",
    "https://github.com/LegoFigure11/legofigure11.github.io/tree/master" +
      pagepath +
      "index.html",
  );
  $("#version").prop(
    "href",
    "https://github.com/LegoFigure11/legofigure11.github.io/commit/" +
      $("#version").html(),
  );
  $("#version").html($("#version").html().substring(0, 7));
  $(".form-control").keypress(function (e) {
    if (e.keyCode === 13) {
      // Enter
      if (typeof calculate === typeof Function) calculate();
    }
  });
  $("document").ready(function () {
    var tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]'),
    );
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    // Get all the image links
    const imageLinks = document.querySelectorAll(".clickable-image");

    // Get the modal elements
    const popup = document.getElementById("image-popup");
    const popupImage = document.getElementById("popup-image");
    const closePopupElement = document.querySelector(".popup-close");

    // Add click event listeners to each image link
    imageLinks.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault(); // Prevent default link behavior

        const imageSrc = link.getAttribute("data-image"); // Get image URL from data attribute
        popupImage.src = xssEscape(encodeURIComponent(imageSrc)); // Set the popup image source
        popup.style.display = "flex"; // Show the popup modal
      });
    });

    // Add event listener to close button
    if (closePopupElement) {
      closePopupElement.addEventListener("click", () => {
        closePopup();
      });
    }

    // Close the popup when clicking outside the image
    if (popup) {
      popup.addEventListener("click", (event) => {
        if (event.target === popup) {
          closePopup();
        }
      });
    }

    $(document).keydown((e) => {
      if (e.keyCode === 27) {
        // esc
        closePopup();
      }
    });

    function closePopup() {
      if (popup) {
        popup.style.display = "none";
        popupImage.src = "";
      }
    }
  });

  function xssEscape(text) {
    return text
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#x27;")
      .replace(/\//g, "&#x2F;");
  }
</script>

<script>
  var t = {{ site.time | date: "%s" }};
  var d = new Date(t * 1000);
  var offs = d.getTimezoneOffset();
  var h = Math.abs(offs / 60);
  var m = Math.abs(offs % 60);
  var sign = offs < 0 ? "+" : '-';

  document.getElementById("buildTime").textContent = d.toLocaleString() + " " + sign + (h + "").padStart(2, "0") + ":" + (m + "").padStart(2, "0");
</script>

{% if page.nojirachi != "true" %}
<script
  data-cat="{{ site.url }}/assets/jirachi-oneko.gif"
  src="{{ site.url }}/assets/oneko.js"
></script>
{% endif %}

<script type="module" src="{{ site.url }}/assets/sparkly-text.js"></script>
