<script>
  $("#source").prop("href", "https://github.com/LegoFigure11/legofigure11.github.io/tree/master" + window.location.pathname + "index.html");
  $("#version").prop("href", "https://github.com/LegoFigure11/legofigure11.github.io/commit/" + $("#version").html());
  $("#version").html($("#version").html().substring(0, 7));
  $("document").ready(function() {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  })
</script>