<header>
  {% include shared/header/content.html %}
  {% include shared/header/script.html %}
  <script type="text/javascript">
    window.onscroll = function() {
      var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var scrolled = (winScroll / height) * 100;
      $("#scroll-indicator").css("width", scrolled + "%");
    }
  </script>
  <div id="progress-container" class="fixed-bottom progress-container bg-secondary" style="width: 100%; height: 8px;">
    <div class="progress-bar bg-info" id="scroll-indicator" style="width: 0px; height: 8px;"></div>
  </div>
</header>