/*
 * Custom bootstrap-derived grid css
 */

.gg-col-1 {
  flex: 0 0 auto;
  width: 5.55555556%;
}

.gg-col-2 {
  flex: 0 0 auto;
  width: 11.11111111%;
}

.gg-col-3 {
  flex: 0 0 auto;  
  width: 16.66666667%;
}

.gg-col-4 {
  flex: 0 0 auto;
  width: 22.22222222%;
}

/*
 * General
 */

.yellow {
  color: #f1c232;
}

.purple {
  color: #674ea7;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 49.85px;
  height: 21.6px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF0000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15.6px;
  width: 15.6px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #0dcaf0;
}

input:focus+.slider {
  box-shadow: 0 0 1px #0dcaf0;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}