<div class="form-floating">
  <select id="{{include.id}}" class="form-select bg-dark text-light">
    <option value="custom" selected>Custom</option>
    <option value="abaddon">Abaddon</option>
    <option value="abvalle">Abvalle</option>
    <option value="abyssedge">Abyssedge</option>
    <option value="adela">Adela</option>
    <option value="aegis">Aegis</option>
    <option value="afrit">Afrit</option>
    <option value="agnad">Agnad</option>
    <option value="aliendragon">Alien Dragon</option>
    <option value="anemone">Anemone</option>
    <option value="angelcat">Angel Cat</option>
    <option value="angeldragon">Angel Dragon</option>
    <option value="angeljr">Angel Jr</option>
    <option value="angra">Angra</option>
    <option value="animala">Animala</option>
    <option value="anurhada">Anurhada</option>
    <option value="applecheek">Applecheek</option>
    <option value="araca">Araca</option>
    <option value="artemis">Artemis</option>
    <option value="asti">Asti</option>
    <option value="azak">Azak</option>
    <option value="baal">Baal</option>
    <option value="baekho">Baekho</option>
    <option value="bagma">Bagma</option>
    <option value="banshee">Banshee</option>
    <option value="beardeddragon">Bearded Dragon</option>
    <option value="beleth">Beleth</option>
    <option value="berris">Berris</option>
    <option value="blackarmor">Black Armor</option>
    <option value="blackarmorspear">Black Armor Spear</option>
    <option value="blackdragon">Black Dragon</option>
    <option value="bladedragon">Blade Dragon</option>
    <option value="bluebirdberris">Blue Bird Berris</option>
    <option value="bluecharacen">Blue Characen</option>
    <option value="bluedragon">Blue Dragon</option>
    <option value="bluefiretail">Blue Firetail</option>
    <option value="bluelightningdragon">Blue Lightning Dragon</option>
    <option value="bluethunder">Blue Thunder</option>
    <option value="bomberdragon">Bomber Dragon</option>
    <option value="bonehead">Bone Head</option>
    <option value="caretakergoddragon">Caretaker God Dragon</option>
    <option value="catsgon">Catsgon</option>
    <option value="centura">Centura</option>
    <option value="characen">Characen</option>
    <option value="chungmuhaetae">Chungmu Haetae</option>
    <option value="citael">Citael</option>
    <option value="clavis">Clavis</option>
    <option value="clockworkdragon">Clockwork Dragon</option>
    <option value="clouddragon">Cloud Dragon</option>
    <option value="cobradragon">Cobra Dragon</option>
    <option value="conrad">Conrad</option>
    <option value="cortus">Cortus</option>
    <option value="cratio">Cratio</option>
    <option value="cresteddragon">Crested Dragon</option>
    <option value="crookers">Crookers</option>
    <option value="cuanade">Cuanade</option>
    <option value="cupid">Cupid</option>
    <option value="cupifriend">Cupi Friend</option>
    <option value="darknix">Darknix</option>
    <option value="darkangeldragon">Dark Angel Dragon</option>
    <option value="darkclouddragon">Dark Cloud Dragon</option>
    <option value="darkgoddragon">Dark God Dragon</option>
    <option value="darklightningdragon">Dark Lightning Dragon</option>
    <option value="daros">Daros</option>
    <option value="demonggargoyle">Demong & Gargoyle</option>
    <option value="demonio">Demonio</option>
    <option value="deva">Deva</option>
    <option value="devared">Devared</option>
    <option value="devilgon">Devilgon</option>
    <option value="dianu">Dianu</option>
    <option value="dimensiondragon">Dimension Dragon</option>
    <option value="diyona">Diyona</option>
    <option value="dragonoid">Dragonoid</option>
    <option value="dragonoidsoul">Dragonoid Soul</option>
    <option value="dreamerobex">Dreamer Obex</option>
    <option value="dreamwaterdragon">Dream Water Dragon</option>
    <option value="dupen">Dupen</option>
    <option value="eelosdragon">Eelos Dragon</option>
    <option value="eggdragon">Egg Dragon</option>
    <option value="eggmayodragon">Egg Mayo Dragon</option>
    <option value="elderlydragon">Elderly Dragon</option>
    <option value="emeralddragon">Emerald Dragon</option>
    <option value="enokidragon">Enoki Dragon</option>
    <option value="ereboss">Ereboss</option>
    <option value="eshu">Eshu</option>
    <option value="fabregas">Fabregas</option>
    <option value="fairydragon">Fairy Dragon</option>
    <option value="fat">Fat</option>
    <option value="feros">Feros</option>
    <option value="feruna">Feruna</option>
    <option value="feyrex">Feyrex</option>
    <option value="fides">Fides</option>
    <option value="firetail">Firetail</option>
    <option value="firedragon">Fire Dragon</option>
    <option value="fireghostdragon">Fire Ghost Dragon</option>
    <option value="flamedragon">Flame Dragon</option>
    <option value="florea">Florea</option>
    <option value="flowerdragon">Flower Dragon</option>
    <option value="flufferbot">Flufferbot</option>
    <option value="forbiddenwitchdragon">Forbidden Witch Dragon</option>
    <option value="frame">Frame</option>
    <option value="frankensteindragon">Frankenstein Dragon</option>
    <option value="frogdragon">Frog Dragon</option>
    <option value="frostbluedragon">Frost Blue Dragon</option>
    <option value="frostdragon">Frost Dragon</option>
    <option value="gaian">Gaian</option>
    <option value="gandharva">Gandharva</option>
    <option value="gautling-gon">Gautling-Gon</option>
    <option value="ges">Ges</option>
    <option value="gigantis">Gigantis</option>
    <option value="girdletaildragon">Girdletail Dragon</option>
    <option value="glaone">Glaone</option>
    <option value="goblindragon">Goblin Dragon</option>
    <option value="goddragon">God Dragon</option>
    <option value="godjr">God Jr</option>
    <option value="goldenpoisonriver">Golden Poison River</option>
    <option value="goldie">Goldie</option>
    <option value="goldpike">Goldpike</option>
    <option value="goldapplecheek">Gold Applecheek</option>
    <option value="golddragon">Gold Dragon</option>
    <option value="goldmetal">Gold Metal</option>
    <option value="golrock">Golrock</option>
    <option value="gorgon">Gorgon</option>
    <option value="gracia">Gracia</option>
    <option value="granos">Granos</option>
    <option value="griffar">Griffar</option>
    <option value="gust">Gust</option>
    <option value="haetae">Haetae</option>
    <option value="hallow">Hallow</option>
    <option value="harika">Harika</option>
    <option value="haze">Haze</option>
    <option value="hedgebatdragon">Hedgebat Dragon</option>
    <option value="hela">Hela</option>
    <option value="helldragon">Hell Dragon</option>
    <option value="henes">Henes</option>
    <option value="herculesdragon">Hercules Dragon</option>
    <option value="hourglassdragon">Hourglass Dragon</option>
    <option value="hurricanedragon">Hurricane Dragon</option>
    <option value="hydragon">Hydragon</option>
    <option value="hyeonmu">Hyeonmu</option>
    <option value="igna">Igna</option>
    <option value="ignis">Ignis</option>
    <option value="ilios">Ilios</option>
    <option value="insectdragon">Insect Dragon</option>
    <option value="insectqueen">Insect Queen</option>
    <option value="irondeva">Irondeva</option>
    <option value="irondragon">Iron Dragon</option>
    <option value="jango">Jango</option>
    <option value="janus">Janus</option>
    <option value="jarukah">Jarukah</option>
    <option value="jealousycupid">Jealousy Cupid</option>
    <option value="jima">Jima</option>
    <option value="jimon">Jimon</option>
    <option value="jujak">Jujak</option>
    <option value="kangkang">Kangkang</option>
    <option value="karura">Karura</option>
    <option value="khan">Khan</option>
    <option value="khanmarino">Khan Marino</option>
    <option value="kirin">Kirin</option>
    <option value="knightdragon">Knight Dragon</option>
    <option value="kuzmara">Kuzmara</option>
    <option value="labasalt">Labasalt</option>
    <option value="ladydragon">Lady Dragon</option>
    <option value="lakion">Lakion</option>
    <option value="lambgon">Lambgon</option>
    <option value="lattegon">Lattegon</option>
    <option value="lavadragon">Lava Dragon</option>
    <option value="lalux">La Lux</option>
    <option value="leafdragon">Leaf Dragon</option>
    <option value="leglien">Leglien</option>
    <option value="leoparddragon">Leopard Dragon</option>
    <option value="leovector">Leo Vector</option>
    <option value="libera">Libera</option>
    <option value="liberte">Liberte</option>
    <option value="librodragon">Libro Dragon</option>
    <option value="lichmond">Lichmond</option>
    <option value="lightningdragon">Lightning Dragon</option>
    <option value="lightdarknix">Light Darknix</option>
    <option value="lightspicy">Light Spicy</option>
    <option value="lololli">Lololli</option>
    <option value="lucio">Lucio</option>
    <option value="lumindis">Lumindis</option>
    <option value="lunera">Lunera</option>
    <option value="maga">Maga</option>
    <option value="magnello">Magnello</option>
    <option value="makara">Makara</option>
    <option value="maldek">Maldek</option>
    <option value="maloden">Maloden</option>
    <option value="mamunia">Mamunia</option>
    <option value="maniacalpowerdragon">Maniacal Power Dragon</option>
    <option value="mapledragon">Maple Dragon</option>
    <option value="marbas">Marbas</option>
    <option value="marino">Marino</option>
    <option value="maritus">Maritus</option>
    <option value="mellow">Mellow</option>
    <option value="metaldragon">Metal Dragon</option>
    <option value="minas">Minas</option>
    <option value="mistdragon">Mist Dragon</option>
    <option value="mithra">Mithra</option>
    <option value="muddragon">Mud Dragon</option>
    <option value="mummydragon">Mummy Dragon</option>
    <option value="mushroomdragon">Mushroom Dragon</option>
    <option value="mushroomknightdragon">Mushroom Knight Dragon</option>
    <option value="mustardhammer">Mustard Hammer</option>
    <option value="mystictiny">Mystictiny</option>
    <option value="nebula">Nebula</option>
    <option value="nello">Nello</option>
    <option value="neondragon">Neon Dragon</option>
    <option value="nessie">Nessie</option>
    <option value="nessiebig">Nessiebig</option>
    <option value="nidhogg">Nidhogg</option>
    <option value="nightmarelucio">Nightmare Lucio</option>
    <option value="ninjadragon">Ninja Dragon</option>
    <option value="ninmunia">Ninmunia</option>
    <option value="non">Non</option>
    <option value="nox">Nox</option>
    <option value="obex">Obex</option>
    <option value="oculus">Oculus</option>
    <option value="paimon">Paimon</option>
    <option value="pancakedragon">Pancake Dragon</option>
    <option value="pangpang">Pangpang</option>
    <option value="partydragon">Party Dragon</option>
    <option value="patroa">Patroa</option>
    <option value="petra">Petra</option>
    <option value="pharaogon">Pharaogon</option>
    <option value="phoenixdragon">Phoenix Dragon</option>
    <option value="pierrotdragon">Pierrot Dragon</option>
    <option value="pinkbell">Pink Bell</option>
    <option value="plumos">Plumos</option>
    <option value="poisonriver">Poison River</option>
    <option value="popomo">Popomo</option>
    <option value="popon">Popon</option>
    <option value="porta">Porta</option>
    <option value="powerdragon">Power Dragon</option>
    <option value="pureevilnon">Pure Evil Non</option>
    <option value="purewhitefides">Pure White Fides</option>
    <option value="purplelips">Purple Lips</option>
    <option value="python">Python</option>
    <option value="quetzalcoatl">Quetzalcoatl</option>
    <option value="rafael">Rafael</option>
    <option value="ragnarok">Ragnarok</option>
    <option value="rakshasa">Rakshasa</option>
    <option value="ranky">Ranky</option>
    <option value="razikas">Razikas</option>
    <option value="redbulldragon">Redbull Dragon</option>
    <option value="redwyvern">Red Wyvern</option>
    <option value="regnator">Regnator</option>
    <option value="rekmall">Rekmall</option>
    <option value="remorsefulflorea">Remorseful Florea</option>
    <option value="rockdragon">Rock Dragon</option>
    <option value="rosegolddragon">Rose Gold Dragon</option>
    <option value="rudeoredragon">Rude Ore Dragon</option>
    <option value="rugar">Rugar</option>
    <option value="rupia">Rupia</option>
    <option value="rupo">Rupo</option>
    <option value="rutilus">Rutilus</option>
    <option value="sanddragon">Sand Dragon</option>
    <option value="scarlet">Scarlet</option>
    <option value="scorpiondragon">Scorpion Dragon</option>
    <option value="sealeddarknix">Sealed Darknix</option>
    <option value="seere">Seere</option>
    <option value="serpentdragon">Serpent Dragon</option>
    <option value="serpentflowerdragon">Serpent Flower Dragon</option>
    <option value="shadowdragon">Shadow Dragon</option>
    <option value="sharkdragon">Shark Dragon</option>
    <option value="sharptail">Sharp Tail</option>
    <option value="siamesedragon">Siamese Dragon</option>
    <option value="six-leghorn">Six-Leg Horn</option>
    <option value="skelegon">Skelegon</option>
    <option value="skinkdragon">Skink Dragon</option>
    <option value="skoorum">Skoorum</option>
    <option value="skylancer">Sky Lancer</option>
    <option value="slimedragon">Slime Dragon</option>
    <option value="slosi">Slosi</option>
    <option value="snowflowerpopomo">Snow Flower Popomo</option>
    <option value="splender">Splender</option>
    <option value="taros">Taros</option>
    <option value="undergrounddragon">Underground Dragon</option>
    <option value="vefal">Vefal</option>
    <option value="vonsharkgon">Vonsharkgon</option>
    <option value="whitethunderdragon">White Thunder Dragon</option>
    <option value="winddragon">Wind Dragon</option>
    <option value="zombiedragon">Zombie Dragon</option>
  </select>
  <label for="{{include.id}}">Select dragon species...</label>
</div>

<script>
  const BASE_STATS = {
    custom: {
      Custom: { agi: 0, str: 0, foc: 0, int: 0 },
    },
    abaddon: {
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    abvalle: {
      Careful: { agi: 5, str: 5, foc: 20, int: 0 },
      Adamant: { agi: 5, str: 20, foc: 5, int: 0 },
    },
    adela: {
      Bold: { agi: 0, str: 30, foc: 5, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    abyssedge: {
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
      Adamant: { agi: 5, str: 20, foc: 5, int: 0 },
    },
    aegis: {
      Bold: { agi: 0, str: 25, foc: 0, int: 5 },
      Calm: { agi: 10, str: 0, foc: 30, int: 10 },
    },
    agnad: {
      Smart: { agi: 0, str: 5, foc: 0, int: 20 },
      Calm: { agi: 10, str: 0, foc: 30, int: 10 },
    },
    anemone: {
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
      Bashful: { agi: 10, str: 0, foc: 10, int: 20 },
    },
    afrit: {
      Quiet: { agi: 0, str: 10, foc: 25, int: 10 },
      "Quick Witted": { agi: 30, str: 10, foc: 0, int: 0 },
    },
    angelcat: {
      Docile: { agi: 0, str: 10, foc: 10, int: 25 },
      Brave: { agi: 0, str: 20, foc: 10, int: 10 },
    },
    aliendragon: {
      Docile: { agi: 0, str: 15, foc: 15, int: 30 },
      Smart: { agi: 0, str: 0, foc: 0, int: 25 },
    },
    angeljr: {
      Calm: { agi: 10, str: 0, foc: 30, int: 10 },
      Smart: { agi: 0, str: 5, foc: 0, int: 30 },
    },
    angra: {
      Hasty: { agi: 25, str: 10, foc: 10, int: 0 },
      Adamant: { agi: 10, str: 30, foc: 10, int: 0 },
    },
    animala: {
      Quiet: { agi: 0, str: 10, foc: 25, int: 10 },
      Adamant: { agi: 10, str: 30, foc: 10, int: 0 },
    },
    angeldragon: {
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
      Calm: { agi: 10, str: 0, foc: 30, int: 10 },
    },
    araca: {
      "Quick Witted": { agi: 25, str: 0, foc: 5, int: 0 },
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
    },
    anurhada: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    artemis: {
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
      Calm: { agi: 10, str: 0, foc: 30, int: 10 },
    },
    applecheek: {
      "Quick Witted": { agi: 20, str: 5, foc: 0, int: 0 },
      Bashful: { agi: 10, str: 0, foc: 10, int: 20 },
    },
    asti: {
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
      Bold: { agi: 0, str: 20, foc: 10, int: 0 },
    },
    azak: {
      Careful: { agi: 5, str: 5, foc: 20, int: 0 },
      Smart: { agi: 0, str: 0, foc: 10, int: 30 },
    },
    bagma: {
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
    },
    baal: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Brave: { agi: 0, str: 30, foc: 15, int: 15 },
    },
    baekho: {
      Docile: { agi: 0, str: 15, foc: 15, int: 30 },
      Brave: { agi: 0, str: 20, foc: 5, int: 5 },
    },
    banshee: {
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
    },
    blackarmor: {
      Bold: { agi: 0, str: 30, foc: 0, int: 10 },
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
    },
    beardeddragon: {
      Bold: { agi: 0, str: 30, foc: 0, int: 10 },
      Smart: { agi: 0, str: 10, foc: 0, int: 30 },
    },
    berris: {
      Docile: { agi: 0, str: 10, foc: 10, int: 25 },
      Smart: { agi: 10, str: 0, foc: 0, int: 30 },
    },
    beleth: {
      Rash: { agi: 25, str: 10, foc: 10, int: 0 },
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
    },
    bluedragon: {
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
      Rash: { agi: 20, str: 10, foc: 0, int: 10 },
    },
    bladedragon: {
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
      Brave: { agi: 0, str: 20, foc: 10, int: 10 },
    },
    blackdragon: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Careful: { agi: 5, str: 5, foc: 20, int: 0 },
    },
    bluecharacen: {
      Bashful: { agi: 15, str: 0, foc: 15, int: 30 },
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
    },
    bluelightningdragon: {
      Naive: { agi: 30, str: 0, foc: 15, int: 15 },
      Hasty: { agi: 20, str: 5, foc: 5, int: 0 },
    },
    bluethunder: {
      Careful: { agi: 5, str: 5, foc: 20, int: 0 },
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
    },
    bluefiretail: {
      "Quick Witted": { agi: 20, str: 0, foc: 0, int: 5 },
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
    },
    bluebirdberris: {
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    blackarmorspear: {
      "Quick Witted": { agi: 20, str: 5, foc: 0, int: 0 },
      Careful: { agi: 10, str: 10, foc: 30, int: 0 },
    },
    bonehead: {
      Quirky: { agi: 5, str: 20, foc: 0, int: 5 },
      Bashful: { agi: 15, str: 0, foc: 15, int: 30 },
    },
    bomberdragon: {
      Naive: { agi: 30, str: 0, foc: 10, int: 10 },
      Lax: { agi: 10, str: 10, foc: 0, int: 30 },
    },
    centura: {
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
    },
    catsgon: {
      "Quick Witted": { agi: 30, str: 10, foc: 0, int: 0 },
      Quirky: { agi: 10, str: 20, foc: 0, int: 10 },
    },
    clavis: {
      Adamant: { agi: 10, str: 20, foc: 10, int: 0 },
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
    },
    citael: {
      Calm: { agi: 15, str: 0, foc: 30, int: 15 },
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
    },
    caretakergoddragon: {
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
    },
    chungmuhaetae: {
      Brave: { agi: 0, str: 20, foc: 5, int: 5 },
      Bold: { agi: 10, str: 30, foc: 0, int: 0 },
    },
    characen: {
      Lax: { agi: 15, str: 15, foc: 0, int: 30 },
      Naive: { agi: 25, str: 0, foc: 10, int: 10 },
    },
    clouddragon: {
      Hasty: { agi: 20, str: 5, foc: 5, int: 0 },
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
    },
    clockworkdragon: {
      Smart: { agi: 0, str: 5, foc: 0, int: 25 },
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
    },
    cobradragon: {
      Quirky: { agi: 10, str: 30, foc: 0, int: 10 },
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
    },
    cortus: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Bold: { agi: 0, str: 30, foc: 0, int: 10 },
    },
    cuanade: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    cratio: {
      Hasty: { agi: 30, str: 15, foc: 15, int: 0 },
      Adamant: { agi: 10, str: 30, foc: 10, int: 0 },
    },
    crookers: {
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    conrad: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    darknix: {
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
      Careful: { agi: 15, str: 15, foc: 30, int: 0 },
    },
    cupifriend: {
      Brave: { agi: 0, str: 20, foc: 5, int: 5 },
      Hardy: { agi: 0, str: 0, foc: 25, int: 0 },
    },
    cupid: {
      Naive: { agi: 30, str: 0, foc: 10, int: 10 },
      Hardy: { agi: 0, str: 0, foc: 25, int: 0 },
    },
    cresteddragon: {
      Lax: { agi: 5, str: 5, foc: 0, int: 20 },
      "Quick Witted": { agi: 20, str: 5, foc: 0, int: 0 },
    },
    darkgoddragon: {
      None: { agi: 1, str: 1, foc: 1, int: 1 },
      None: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    demonio: {
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
    },
    darkangeldragon: {
      None: { agi: 1, str: 1, foc: 1, int: 1 },
      None: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    darklightningdragon: {
      None: { agi: 1, str: 1, foc: 1, int: 1 },
      None: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    darkclouddragon: {
      Quirky: { agi: 10, str: 20, foc: 0, int: 10 },
      Naive: { agi: 30, str: 0, foc: 10, int: 10 },
    },
    daros: {
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
      Careful: { agi: 15, str: 15, foc: 30, int: 0 },
    },
    deva: {
      Adamant: { agi: 5, str: 20, foc: 5, int: 0 },
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
    },
    devared: {
      Brave: { agi: 0, str: 20, foc: 5, int: 5 },
      Smart: { agi: 10, str: 0, foc: 0, int: 20 },
    },
    demonggargoyle: {
      "Quick Witted": { agi: 30, str: 0, foc: 5, int: 0 },
      Adamant: { agi: 10, str: 30, foc: 10, int: 0 },
    },
    devilgon: {
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    dianu: {
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
    },
    dimensiondragon: {
      Smart: { agi: 10, str: 0, foc: 0, int: 30 },
      Bold: { agi: 0, str: 30, foc: 5, int: 0 },
    },
    dragonoid: {
      Smart: { agi: 10, str: 0, foc: 0, int: 30 },
      "Quick Witted": { agi: 20, str: 10, foc: 0, int: 0 },
    },
    diyona: {
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
    },
    eelosdragon: {
      Lax: { agi: 10, str: 10, foc: 0, int: 30 },
      Naive: { agi: 30, str: 0, foc: 10, int: 10 },
    },
    dreamerobex: {
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    dragonoidsoul: {
      Smart: { agi: 0, str: 0, foc: 5, int: 30 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    dreamwaterdragon: {
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
      Smart: { agi: 10, str: 0, foc: 0, int: 20 },
    },
    dupen: {
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
      Bold: { agi: 0, str: 30, foc: 5, int: 0 },
    },
    eggmayodragon: {
      Naive: { agi: 20, str: 0, foc: 10, int: 10 },
      Docile: { agi: 0, str: 15, foc: 15, int: 30 },
    },
    eggdragon: {
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
    },
    ereboss: {
      Quiet: { agi: 0, str: 10, foc: 25, int: 10 },
      Adamant: { agi: 5, str: 20, foc: 5, int: 0 },
    },
    enokidragon: {
      Adamant: { agi: 10, str: 30, foc: 10, int: 0 },
      Rash: { agi: 25, str: 10, foc: 0, int: 10 },
    },
    fairydragon: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    elderlydragon: {
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
      Adamant: { agi: 5, str: 20, foc: 5, int: 0 },
    },
    eshu: {
      Naive: { agi: 30, str: 0, foc: 15, int: 15 },
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
    },
    fabregas: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    fat: {
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
    },
    feros: {
      Careful: { agi: 10, str: 10, foc: 30, int: 0 },
      Smart: { agi: 10, str: 0, foc: 0, int: 30 },
    },
    emeralddragon: {
      Brave: { agi: 0, str: 30, foc: 15, int: 15 },
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
    },
    feyrex: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    firetail: {
      "Quick Witted": { agi: 25, str: 0, foc: 0, int: 0 },
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
    },
    fireghostdragon: {
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
      Quirky: { agi: 10, str: 30, foc: 0, int: 10 },
    },
    firedragon: {
      Hasty: { agi: 20, str: 10, foc: 10, int: 0 },
      Adamant: { agi: 5, str: 20, foc: 5, int: 0 },
    },
    feruna: {
      Naive: { agi: 20, str: 0, foc: 10, int: 10 },
      Quirky: { agi: 15, str: 30, foc: 0, int: 15 },
    },
    fides: {
      Adamant: { agi: 10, str: 30, foc: 10, int: 0 },
      Bold: { agi: 5, str: 30, foc: 0, int: 0 },
    },
    flamedragon: {
      Careful: { agi: 5, str: 5, foc: 20, int: 0 },
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
    },
    florea: {
      Smart: { agi: 5, str: 0, foc: 0, int: 30 },
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
    },
    frame: {
      Hardy: { agi: 0, str: 10, foc: 20, int: 0 },
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
    },
    flowerdragon: {
      Bashful: { agi: 10, str: 0, foc: 10, int: 30 },
      Rash: { agi: 20, str: 10, foc: 0, int: 10 },
    },
    forbiddenwitchdragon: {
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    frogdragon: {
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
    },
    frankensteindragon: {
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
      Hardy: { agi: 5, str: 0, foc: 25, int: 0 },
    },
    flufferbot: {
      Careful: { agi: 10, str: 10, foc: 30, int: 0 },
      Smart: { agi: 10, str: 0, foc: 0, int: 30 },
    },
    gigantis: {
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
    },
    frostdragon: {
      Careful: { agi: 10, str: 10, foc: 20, int: 0 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    ges: {
      Brave: { agi: 0, str: 20, foc: 5, int: 5 },
      Smart: { agi: 10, str: 0, foc: 0, int: 20 },
    },
    gaian: {
      Bold: { agi: 0, str: 30, foc: 10, int: 0 },
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
    },
    frostbluedragon: {
      Quiet: { agi: 0, str: 10, foc: 25, int: 10 },
      Bashful: { agi: 10, str: 0, foc: 10, int: 30 },
    },
    "gautling-gon": {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Bold: { agi: 0, str: 20, foc: 0, int: 10 },
    },
    gandharva: {
      Quirky: { agi: 10, str: 20, foc: 0, int: 10 },
      Lax: { agi: 10, str: 10, foc: 0, int: 20 },
    },
    glaone: {
      Smart: { agi: 0, str: 5, foc: 0, int: 20 },
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
    },
    girdletaildragon: {
      Bold: { agi: 10, str: 30, foc: 0, int: 0 },
      Rash: { agi: 25, str: 10, foc: 0, int: 10 },
    },
    goblindragon: {
      Naive: { agi: 25, str: 0, foc: 10, int: 10 },
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
    },
    goddragon: {
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
    },
    goldpike: {
      Hasty: { agi: 25, str: 10, foc: 10, int: 0 },
      Lax: { agi: 10, str: 10, foc: 0, int: 20 },
    },
    godjr: {
      Brave: { agi: 0, str: 30, foc: 15, int: 15 },
      Hasty: { agi: 30, str: 10, foc: 10, int: 0 },
    },
    goldenpoisonriver: {
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    golddragon: {
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
      Calm: { agi: 10, str: 0, foc: 15, int: 10 },
    },
    goldie: {
      Lax: { agi: 15, str: 15, foc: 0, int: 30 },
      Bold: { agi: 0, str: 30, foc: 10, int: 0 },
    },
    goldmetal: {
      Hasty: { agi: 20, str: 10, foc: 10, int: 0 },
      Bold: { agi: 10, str: 25, foc: 0, int: 0 },
    },
    goldapplecheek: {
      None: { agi: 1, str: 1, foc: 1, int: 1 },
      None: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    gorgon: {
      "Quick Witted": { agi: 30, str: 0, foc: 0, int: 5 },
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
    },
    gracia: {
      Brave: { agi: 0, str: 20, foc: 10, int: 10 },
      "Quick Witted": { agi: 20, str: 10, foc: 0, int: 0 },
    },
    granos: {
      Careful: { agi: 10, str: 10, foc: 30, int: 0 },
      Smart: { agi: 5, str: 0, foc: 0, int: 20 },
    },
    griffar: {
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
      Bold: { agi: 0, str: 30, foc: 5, int: 0 },
    },
    golrock: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    gust: {
      Hasty: { agi: 25, str: 10, foc: 10, int: 0 },
      Adamant: { agi: 5, str: 20, foc: 5, int: 0 },
    },
    hallow: {
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    haze: {
      "Quick Witted": { agi: 30, str: 10, foc: 0, int: 0 },
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
    },
    haetae: {
      Bold: { agi: 0, str: 20, foc: 10, int: 0 },
      Brave: { agi: 0, str: 20, foc: 5, int: 5 },
    },
    hedgebatdragon: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Careful: { agi: 15, str: 15, foc: 30, int: 0 },
    },
    harika: {
      Brave: { agi: 0, str: 30, foc: 15, int: 15 },
      Naive: { agi: 20, str: 0, foc: 10, int: 10 },
    },
    helldragon: {
      Quirky: { agi: 15, str: 30, foc: 0, int: 15 },
      "Quick Witted": { agi: 20, str: 10, foc: 0, int: 0 },
    },
    hela: {
      Smart: { agi: 0, str: 10, foc: 0, int: 30 },
      Quirky: { agi: 10, str: 30, foc: 0, int: 10 },
    },
    hourglassdragon: {
      Smart: { agi: 0, str: 5, foc: 0, int: 20 },
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
    },
    henes: {
      Careful: { agi: 15, str: 15, foc: 30, int: 0 },
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
    },
    hydragon: {
      Adamant: { agi: 10, str: 20, foc: 10, int: 0 },
      Hasty: { agi: 20, str: 5, foc: 5, int: 0 },
    },
    hurricanedragon: {
      "Quick Witted": { agi: 20, str: 0, foc: 0, int: 0 },
      Quirky: { agi: 15, str: 30, foc: 0, int: 15 },
    },
    herculesdragon: {
      Bold: { agi: 0, str: 30, foc: 0, int: 5 },
      Adamant: { agi: 10, str: 20, foc: 10, int: 0 },
    },
    igna: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    hyeonmu: {
      Brave: { agi: 0, str: 20, foc: 5, int: 5 },
      Bold: { agi: 0, str: 30, foc: 0, int: 10 },
    },
    irondeva: {
      "Quick Witted": { agi: 20, str: 0, foc: 0, int: 10 },
      Careful: { agi: 5, str: 5, foc: 20, int: 0 },
    },
    ilios: {
      Brave: { agi: 0, str: 20, foc: 10, int: 10 },
      Smart: { agi: 0, str: 0, foc: 0, int: 30 },
    },
    insectdragon: {
      Naive: { agi: 20, str: 0, foc: 5, int: 5 },
      Bashful: { agi: 15, str: 0, foc: 15, int: 30 },
    },
    ignis: {
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
      Docile: { agi: 0, str: 10, foc: 10, int: 25 },
    },
    irondragon: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Quirky: { agi: 15, str: 30, foc: 0, int: 15 },
    },
    jango: {
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
      Quiet: { agi: 0, str: 10, foc: 25, int: 10 },
    },
    insectqueen: {
      "Quick Witted": { agi: 30, str: 0, foc: 5, int: 0 },
      Smart: { agi: 0, str: 10, foc: 0, int: 30 },
    },
    jimon: {
      "Quick Witted": { agi: 25, str: 0, foc: 0, int: 0 },
      Smart: { agi: 10, str: 0, foc: 0, int: 20 },
    },
    janus: {
      Bold: { agi: 5, str: 25, foc: 0, int: 0 },
      Smart: { agi: 0, str: 0, foc: 10, int: 30 },
    },
    jarukah: {
      "Quick Witted": { agi: 25, str: 0, foc: 5, int: 0 },
      Naive: { agi: 20, str: 0, foc: 10, int: 10 },
    },
    jealousycupid: {
      None: { agi: 1, str: 1, foc: 1, int: 1 },
      None: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    jima: {
      Smart: { agi: 0, str: 0, foc: 5, int: 25 },
      Calm: { agi: 10, str: 0, foc: 30, int: 10 },
    },
    khan: {
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    jujak: {
      "Quick Witted": { agi: 20, str: 0, foc: 0, int: 5 },
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
    },
    kangkang: {
      "Quick Witted": { agi: 25, str: 0, foc: 0, int: 5 },
      Bold: { agi: 0, str: 25, foc: 0, int: 5 },
    },
    kuzmara: {
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
    },
    karura: {
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
    },
    kirin: {
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
      Bold: { agi: 0, str: 30, foc: 10, int: 0 },
    },
    knightdragon: {
      Brave: { agi: 0, str: 30, foc: 10, int: 10 },
      Smart: { agi: 10, str: 0, foc: 0, int: 20 },
    },
    khanmarino: {
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
      Hasty: { agi: 20, str: 10, foc: 10, int: 0 },
    },
    ladydragon: {
      "Quick Witted": { agi: 20, str: 0, foc: 0, int: 10 },
      Quirky: { agi: 5, str: 20, foc: 0, int: 5 },
    },
    labasalt: {
      Calm: { agi: 10, str: 0, foc: 20, int: 10 },
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
    },
    lambgon: {
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
    },
    lattegon: {
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
      Smart: { agi: 5, str: 0, foc: 0, int: 30 },
    },
    lakion: {
      Careful: { agi: 10, str: 10, foc: 20, int: 0 },
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
    },
    lavadragon: {
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
      Lax: { agi: 10, str: 10, foc: 0, int: 20 },
    },
    leglien: {
      Hardy: { agi: 10, str: 0, foc: 30, int: 0 },
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
    },
    lalux: {
      Smart: { agi: 10, str: 0, foc: 0, int: 20 },
      Brave: { agi: 0, str: 30, foc: 10, int: 10 },
    },
    leovector: {
      Smart: { agi: 0, str: 10, foc: 0, int: 20 },
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
    },
    leafdragon: {
      Naive: { agi: 25, str: 0, foc: 10, int: 10 },
      Rash: { agi: 20, str: 10, foc: 0, int: 10 },
    },
    leoparddragon: {
      Careful: { agi: 15, str: 15, foc: 30, int: 0 },
      Brave: { agi: 0, str: 30, foc: 15, int: 15 },
    },
    librodragon: {
      Smart: { agi: 5, str: 0, foc: 0, int: 25 },
      Naive: { agi: 30, str: 0, foc: 15, int: 15 },
    },
    liberte: {
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
      Hardy: { agi: 0, str: 0, foc: 20, int: 0 },
    },
    libera: {
      Adamant: { agi: 5, str: 20, foc: 5, int: 0 },
      Careful: { agi: 5, str: 5, foc: 20, int: 0 },
    },
    lichmond: {
      Quirky: { agi: 10, str: 20, foc: 0, int: 10 },
      Hardy: { agi: 0, str: 0, foc: 20, int: 10 },
    },
    lightspicy: {
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
    },
    lightningdragon: {
      Brave: { agi: 0, str: 30, foc: 10, int: 10 },
      Bold: { agi: 0, str: 30, foc: 5, int: 0 },
    },
    lightdarknix: {
      None: { agi: 1, str: 1, foc: 1, int: 1 },
      None: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    lucio: {
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
      "Quick Witted": { agi: 30, str: 5, foc: 0, int: 0 },
    },
    maga: {
      Bold: { agi: 0, str: 30, foc: 10, int: 0 },
      Naive: { agi: 20, str: 0, foc: 10, int: 10 },
    },
    lololli: {
      "Quick Witted": { agi: 30, str: 0, foc: 0, int: 10 },
      Smart: { agi: 0, str: 0, foc: 0, int: 25 },
    },
    lunera: {
      Quirky: { agi: 10, str: 30, foc: 0, int: 10 },
      Quiet: { agi: 0, str: 10, foc: 25, int: 10 },
    },
    magnello: {
      Rash: { agi: 20, str: 10, foc: 0, int: 10 },
      Hasty: { agi: 30, str: 10, foc: 10, int: 0 },
    },
    maldek: {
      Lax: { agi: 15, str: 15, foc: 0, int: 30 },
      Rash: { agi: 20, str: 10, foc: 0, int: 10 },
    },
    lumindis: {
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
      Bold: { agi: 5, str: 20, foc: 0, int: 0 },
    },
    makara: {
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
      Bold: { agi: 0, str: 20, foc: 5, int: 0 },
    },
    mamunia: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    maniacalpowerdragon: {
      None: { agi: 1, str: 1, foc: 1, int: 1 },
      None: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    mapledragon: {
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
      Naive: { agi: 20, str: 0, foc: 5, int: 5 },
    },
    maloden: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Bold: { agi: 0, str: 20, foc: 0, int: 5 },
    },
    marbas: {
      Careful: { agi: 10, str: 10, foc: 20, int: 0 },
      Bold: { agi: 5, str: 30, foc: 0, int: 0 },
    },
    minas: {
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    metaldragon: {
      Docile: { agi: 0, str: 5, foc: 5, int: 20 },
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
    },
    mellow: {
      Rash: { agi: 20, str: 10, foc: 0, int: 10 },
      Smart: { agi: 5, str: 0, foc: 0, int: 30 },
    },
    marino: {
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
      Rash: { agi: 25, str: 10, foc: 0, int: 10 },
    },
    maritus: {
      Brave: { agi: 0, str: 30, foc: 10, int: 10 },
      Bold: { agi: 0, str: 30, foc: 5, int: 0 },
    },
    mithra: {
      Careful: { agi: 10, str: 10, foc: 30, int: 0 },
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
    },
    muddragon: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Adamant: { agi: 10, str: 20, foc: 10, int: 0 },
    },
    mistdragon: {
      Quirky: { agi: 5, str: 20, foc: 0, int: 5 },
      Rash: { agi: 30, str: 15, foc: 0, int: 15 },
    },
    mummydragon: {
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
    },
    mushroomdragon: {
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
    },
    nebula: {
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
    },
    mystictiny: {
      Smart: { agi: 0, str: 0, foc: 10, int: 20 },
      Rash: { agi: 25, str: 10, foc: 0, int: 10 },
    },
    mushroomknightdragon: {
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
      Brave: { agi: 0, str: 20, foc: 10, int: 10 },
    },
    mustardhammer: {
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
      Naive: { agi: 25, str: 0, foc: 10, int: 10 },
    },
    nello: {
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    nessiebig: {
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
      Hasty: { agi: 20, str: 10, foc: 10, int: 0 },
    },
    neondragon: {
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
      Docile: { agi: 0, str: 10, foc: 10, int: 25 },
    },
    nessie: {
      Smart: { agi: 0, str: 0, foc: 10, int: 30 },
      Hardy: { agi: 5, str: 0, foc: 20, int: 0 },
    },
    nidhogg: {
      Bold: { agi: 0, str: 30, foc: 0, int: 5 },
      "Quick Witted": { agi: 25, str: 5, foc: 0, int: 0 },
    },
    ninmunia: {
      "Quick Witted": { agi: 20, str: 10, foc: 0, int: 0 },
      Hardy: { agi: 5, str: 0, foc: 20, int: 0 },
    },
    non: {
      "Quick Witted": { agi: 30, str: 10, foc: 0, int: 0 },
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
    },
    nightmarelucio: {
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    ninjadragon: {
      Careful: { agi: 5, str: 5, foc: 20, int: 0 },
      "Quick Witted": { agi: 20, str: 0, foc: 5, int: 0 },
    },
    nox: {
      Brave: { agi: 0, str: 20, foc: 10, int: 10 },
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
    },
    obex: {
      Careful: { agi: 15, str: 15, foc: 30, int: 0 },
      Quirky: { agi: 15, str: 30, foc: 0, int: 15 },
    },
    pancakedragon: {
      Docile: { agi: 0, str: 10, foc: 10, int: 25 },
      Naive: { agi: 30, str: 0, foc: 10, int: 10 },
    },
    oculus: {
      Smart: { agi: 10, str: 0, foc: 0, int: 30 },
      "Quick Witted": { agi: 30, str: 10, foc: 0, int: 0 },
    },
    paimon: {
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
      Careful: { agi: 10, str: 10, foc: 30, int: 0 },
    },
    pangpang: {
      Hardy: { agi: 0, str: 10, foc: 10, int: 0 },
      "Quick Witted": { agi: 30, str: 0, foc: 10, int: 0 },
    },
    petra: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Calm: { agi: 15, str: 0, foc: 30, int: 15 },
    },
    patroa: {
      Naive: { agi: 20, str: 0, foc: 5, int: 5 },
      Hardy: { agi: 0, str: 0, foc: 25, int: 0 },
    },
    partydragon: {
      Lax: { agi: 15, str: 15, foc: 0, int: 30 },
      Naive: { agi: 30, str: 0, foc: 10, int: 10 },
    },
    pinkbell: {
      Quirky: { agi: 10, str: 25, foc: 0, int: 10 },
      Naive: { agi: 30, str: 0, foc: 10, int: 10 },
    },
    pharaogon: {
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
      Careful: { agi: 10, str: 10, foc: 30, int: 0 },
    },
    phoenixdragon: {
      Naive: { agi: 20, str: 0, foc: 10, int: 10 },
      Docile: { agi: 0, str: 15, foc: 15, int: 30 },
    },
    plumos: {
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
      Hardy: { agi: 0, str: 0, foc: 20, int: 5 },
    },
    poisonriver: {
      "Quick Witted": { agi: 30, str: 5, foc: 0, int: 0 },
      Hasty: { agi: 25, str: 10, foc: 10, int: 0 },
    },
    popomo: {
      Naive: { agi: 20, str: 0, foc: 10, int: 10 },
      Lax: { agi: 10, str: 10, foc: 0, int: 30 },
    },
    porta: {
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
      Brave: { agi: 0, str: 30, foc: 10, int: 10 },
    },
    pierrotdragon: {
      Lax: { agi: 10, str: 10, foc: 0, int: 30 },
      Smart: { agi: 0, str: 0, foc: 5, int: 20 },
    },
    pureevilnon: {
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    purplelips: {
      Smart: { agi: 0, str: 10, foc: 0, int: 30 },
      Docile: { agi: 0, str: 15, foc: 15, int: 30 },
    },
    powerdragon: {
      Smart: { agi: 0, str: 0, foc: 0, int: 25 },
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
    },
    popon: {
      Bashful: { agi: 10, str: 0, foc: 10, int: 20 },
      Lax: { agi: 5, str: 5, foc: 0, int: 20 },
    },
    purewhitefides: {
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    quetzalcoatl: {
      "": { agi: 0, str: 0, foc: 0, int: 0 },
      "": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    rafael: {
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
      Hardy: { agi: 0, str: 0, foc: 20, int: 0 },
    },
    python: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
    },
    ragnarok: {
      Quiet: { agi: 0, str: 10, foc: 25, int: 10 },
      Adamant: { agi: 15, str: 30, foc: 15, int: 0 },
    },
    rakshasa: {
      "Quick Witted": { agi: 25, str: 0, foc: 0, int: 5 },
      Careful: { agi: 10, str: 10, foc: 20, int: 0 },
    },
    redwyvern: {
      Hasty: { agi: 20, str: 10, foc: 10, int: 0 },
      Quirky: { agi: 5, str: 20, foc: 0, int: 5 },
    },
    redbulldragon: {
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
    },
    razikas: {
      Smart: { agi: 10, str: 0, foc: 0, int: 20 },
      Bold: { agi: 10, str: 30, foc: 0, int: 0 },
    },
    ranky: {
      Naive: { agi: 20, str: 0, foc: 5, int: 5 },
      Hardy: { agi: 0, str: 0, foc: 20, int: 5 },
    },
    regnator: {
      Adamant: { agi: 10, str: 20, foc: 10, int: 0 },
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
    },
    rockdragon: {
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
      Bold: { agi: 5, str: 20, foc: 0, int: 0 },
    },
    rekmall: {
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
    },
    remorsefulflorea: {
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
      Unknown: { agi: 1, str: 1, foc: 1, int: 1 },
    },
    rosegolddragon: {
      Bashful: { agi: 10, str: 0, foc: 10, int: 25 },
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
    },
    rupo: {
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
      Bold: { agi: 0, str: 30, foc: 10, int: 0 },
    },
    rudeoredragon: {
      Calm: { agi: 15, str: 0, foc: 30, int: 15 },
      Quiet: { agi: 0, str: 15, foc: 30, int: 15 },
    },
    rutilus: {
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
      "?": { agi: 0, str: 0, foc: 0, int: 0 },
    },
    rugar: {
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
      Adamant: { agi: 10, str: 30, foc: 10, int: 0 },
    },
    sanddragon: {
      Naive: { agi: 25, str: 0, foc: 10, int: 10 },
      Calm: { agi: 10, str: 0, foc: 25, int: 10 },
    },
    rupia: {
      Docile: { agi: 0, str: 10, foc: 10, int: 30 },
      Smart: { agi: 10, str: 0, foc: 0, int: 30 },
    },
    seere: {
      Naive: { agi: 20, str: 0, foc: 15, int: 15 },
      Quirky: { agi: 10, str: 20, foc: 0, int: 10 },
    },
    scorpiondragon: {
      Brave: { agi: 0, str: 25, foc: 10, int: 10 },
      Bold: { agi: 5, str: 20, foc: 0, int: 0 },
    },
    scarlet: {
      Bashful: { agi: 10, str: 0, foc: 10, int: 20 },
      Careful: { agi: 10, str: 10, foc: 20, int: 0 },
    },
    serpentflowerdragon: {
      "Quick Witted": { agi: 30, str: 10, foc: 0, int: 0 },
      Quirky: { agi: 10, str: 20, foc: 0, int: 10 },
    },
    sealeddarknix: {
      Hasty: { agi: 30, str: 15, foc: 15, int: 0 },
      Bold: { agi: 5, str: 25, foc: 0, int: 0 },
    },
    serpentdragon: {
      Hardy: { agi: 0, str: 0, foc: 25, int: 0 },
      Lax: { agi: 10, str: 10, foc: 0, int: 20 },
    },
    sharptail: {
      Quirky: { agi: 10, str: 30, foc: 0, int: 10 },
      Naive: { agi: 20, str: 0, foc: 5, int: 5 },
    },
    shadowdragon: {
      "Quick Witted": { agi: 20, str: 0, foc: 0, int: 5 },
      Calm: { agi: 5, str: 0, foc: 20, int: 5 },
    },
    sharkdragon: {
      Quiet: { agi: 0, str: 5, foc: 20, int: 5 },
      Rash: { agi: 20, str: 10, foc: 0, int: 10 },
    },
    siamesedragon: {
      "Quick Witted": { agi: 25, str: 0, foc: 0, int: 0 },
      Hasty: { agi: 20, str: 5, foc: 5, int: 0 },
    },
    "six-leghorn": {
      Careful: { agi: 10, str: 10, foc: 20, int: 0 },
      Docile: { agi: 0, str: 15, foc: 15, int: 30 },
    },
    skoorum: {
      Adamant: { agi: 10, str: 30, foc: 10, int: 0 },
      Hasty: { agi: 30, str: 10, foc: 10, int: 0 },
    },
    skylancer: {
      Quiet: { agi: 0, str: 10, foc: 20, int: 10 },
      Brave: { agi: 0, str: 30, foc: 15, int: 15 },
    },
    skelegon: {
      Rash: { agi: 25, str: 10, foc: 0, int: 10 },
      "Quick Witted": { agi: 20, str: 10, foc: 0, int: 0 },
    },
    skinkdragon: {
      Adamant: { agi: 10, str: 25, foc: 10, int: 0 },
      Docile: { agi: 0, str: 15, foc: 15, int: 30 },
    },
    slimedragon: {
      Quirky: { agi: 15, str: 30, foc: 0, int: 15 },
      Lax: { agi: 15, str: 15, foc: 0, int: 30 },
    },
    slosi: {
      Adamant: { agi: 10, str: 20, foc: 10, int: 0 },
      Careful: { agi: 10, str: 10, foc: 25, int: 0 },
    },
    snowflowerpopomo: {
      Naive: { agi: 25, str: 0, foc: 10, int: 10 },
      Docile: { agi: 0, str: 10, foc: 10, int: 20 },
    },
    splender: {
      Careful: { agi: 10, str: 10, foc: 20, int: 0 },
      "Quick Witted": { agi: 20, str: 5, foc: 0, int: 0 },
    },
    winddragon: {
      "Quick Witted": { agi: 25, str: 0, foc: 0, int: 0 },
      Hasty: { agi: 20, str: 10, foc: 10, int: 0 },
    },
    taros: {
      Quiet: { agi: 0, str: 10, foc: 30, int: 10 },
      "Quick Witted": { agi: 20, str: 0, foc: 10, int: 0 },
    },
    undergrounddragon: {
      Quiet: { agi: 0, str: 10, foc: 25, int: 10 },
      Bashful: { agi: 10, str: 0, foc: 10, int: 20 },
    },
    vefal: {
      Smart: { agi: 5, str: 0, foc: 0, int: 20 },
      "Quick Witted": { agi: 30, str: 0, foc: 5, int: 0 },
    },
    whitethunderdragon: {
      Hasty: { agi: 30, str: 10, foc: 10, int: 0 },
      Bold: { agi: 0, str: 30, foc: 5, int: 0 },
    },
    vonsharkgon: {
      Rash: { agi: 30, str: 15, foc: 0, int: 15 },
      Bashful: { agi: 10, str: 0, foc: 10, int: 30 },
    },
    zombiedragon: {
      Rash: { agi: 20, str: 5, foc: 5, int: 0 },
      Hasty: { agi: 25, str: 10, foc: 0, int: 10 },
    },
  };
</script>
