---
layout: no-ads
title: Hidden Grotto
permalink: /hidden-grotto/
---

<h1>Hidden Grotto</h1>

<hr />

<div>
  This Hidden Grotto is home to Pok&eacute;mon that have been given to me by my friends, and hold a
  special place in my heart. They all have a deep sentimental value to me and I treasure them
  dearly. They are listed below in Pok&eacute;dex order. To see my other cherished Pok&eacute;mon,
  see my <a href="../showcase" class="text-decoration-none text-info">Showcase</a>.
</div>
<br />
<br />
<div class="d-grid gap3 text-center">

  {% include_relative pokemon/grotto/0003-chonkers.html %}

  {% include_relative pokemon/grotto/0094-gengar.html %}

  {% include_relative pokemon/grotto/0319-sharky.html %}

  {% include_relative pokemon/grotto/0384-wow-long-boy.html %}

  {% include_relative pokemon/grotto/0830-barbara.html %}

</div>

<style src="../resources/css/index.css"></style>
<script src="../resources/js/adjust-height.js"></script>