---
layout: no-ads
title: Showcase
permalink: /showcase/
---

<h1>Showcase &amp; Trophy Cabinet</h1>

<hr />

<div>
  This page houses the Pok&eacute;mon in my collection that I treasure the most and hold closest to my heart.
  <span class="fw-bold text-danger">N</span>othing here is <span class="fw-bold text-danger">F</span>or <span class="fw-bold text-danger">T</span>rade, this
  page exists purely so that I can show them off. They are listed below in Pok&eacute;dex order. To
  view my collection of cherished Pok&eacute;mon that I have obtained from other people, see my
  <a href="../hidden-grotto/" class="text-decoration-none text-info">Hidden Grotto</a>.
</div>
<br />
<br />
<div class="d-grid gap3 text-center">

  {% include_relative pokemon/ot/0012-kuranda.html %}

  {% include_relative pokemon/ot/0113-bootleg-shay.html %}

  {% include_relative pokemon/ot/0361-moode.html %}

  {% include_relative pokemon/ot/0374-aaaa.html %}

  {% include_relative pokemon/ot/0382-kylie.html %}

  {% include_relative pokemon/ot/0385-antares.html %}

  {% include_relative pokemon/ot/0830-onion.html %}
</div>

<link rel="stylesheet" href="./resources/css/index.css"></link>
<!-- <script src="../resources/js/adjust-height.js"></script> -->