<!doctype html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body class="text-light" style="background-color:#282C34; padding-top:2rem;">

  {% include header.html %}

  <div class="container" style="max-width: 700px;">

    <br />

    {{ content }}

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>