<div class="pb-2">
  <h2 class="anchored">#0227 - Skarmory</h2>
  {% include_relative resources/titles/triumphant.html %}
  <div class="img-container">
    <img class="img-fluid" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/skarmory.gif" />
  </div>
  <div class="ball-container" style="padding-top: 4px;">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/ultra.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Skarmory</span> | <span class="male">M</span> | {% include_relative resources/shiny/square.html %}</h5>
  <div class="text-muted">
    <span class="male">Lego</span> | <span class="text-light">1390</span> | {% include_relative resources/origin/colo.html %}
  </div>
  <div>
    <div data-bs-toggle="tooltip" title="Minted from Bashful" class="text-muted">
      <span class="text-light">31</span> |
      <span class="text-primary">0</span> |
      <span class="text-danger">31</span> |
      <span class="text-light">31</span> |
      <span class="text-light">31</span> |
      <span class="text-light">31</span>
    </div>
  </div>
  <br />
  <div>
    Retail RNG on my Wii, description coming soon:tm:<br />
    RM in-progress
  </div>
  <br />
  <hr />
  <br />
</div>
