<div class="pb-2">
  <h2 class="anchored">#0382 - Kylie</h2>
  {% include_relative resources/titles/former-idol.html %}
  <div class="img-container">
    <img class="img-fluid" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/kyogre.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/master.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Kyogre</span> | {% include_relative resources/shiny/square.html %}</h5>
  <div class="text-muted">
    <span class="male">Lego</span> | <span class="text-light">1390</span> | {% include_relative resources/origin/sapphire.html %}
  </div>
  <div data-bs-toggle="tooltip" title="Minted from Quirky" class="text-muted">
    <span class="text-light">31</span> |
    <span class="text-primary">0</span> |
    <span class="text-light">31</span> |
    <span class="text-light">31</span> |
    <span class="text-light">31</span> |
    <span class="text-danger">31</span>
  </div>
  <br />
  <div>
    Named after the famous Australian singer-songwriter, Kylie Minogre was an insane Ribbon Master
    project that I decided to undertake only a few days before boxart Legends got re-banned from
    SwSh online ranked battles. Everything about this big pink fish was a mad rush, from the
    Sapphire playthrough to catch it in the first place to the Gen 3 and 4 contests. Most of her
    journey through the early gens was streamed to the
    <a class="text-info text-decoration-none" href="https://discord.gg/SKN7gmh" target="_blank">Smogon Wi-Fi discord server</a>
    at the fastest speed my computer could handle.<br />
    <br />
    Fortunately everything went without a hitch, and I was able to get the Master Rank ribbon on her
    on the final day of the season. After that I was feeling a bit burnt out so I took my time
    with the rest of the Gen 8 ribbons, but thanks to a little help from <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/511019/">Skadiv</a>
    she's now complete! She's available Lv. 45 &quot;untouched&quot; (well, as untouched as a Ribbon
    Master can be...), but I&apos;ll most likely train a BR copy for use on my Tower team. Should
    GameFreak ever bring back Primals, she absolutely will not be allowed to undergo Primal
    Reversion though because Primal Kyogre&apos;s purple fingies are a sin.
  </div>
  <br />
  <hr />
  <br />
</div>