<div class="pb-2">
  <h2 class="anchored">#0385 - Antares</h2>
  {% include_relative resources/titles/shining-star.html %}
  <div class="img-container">
    <img class="img-fluid" style="padding-top: 12.5px;" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/jirachi.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/poke.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Jirachi</span> | {% include_relative resources/shiny/star.html %}</h5>
  <div class="text-muted">
    <span class="male">CHANNEL</span> | <span class="text-light">40122</span> | {% include_relative resources/origin/sapphire.html %}
  </div>
  <div class="text-muted">
    <span class="text-light">27</span> |
    <span class="text-light">28</span> |
    <span class="text-light">24</span> |
    <span class="text-light">28</span> |
    <span class="text-light">31</span> |
    <span class="text-light">24</span>
  </div>
  <br />
  <div>
    Jirachi has been one of my favourite Pok&eacute;mon ever since I discovered it in the back of a
    PRIMA guide in 2005, where its stats and movepool were blanked out because it was so mysterious.
    Since then I've managed to get my hands on a few from events in my childhood and even RNG&apos;d
    a shiny WISHMKR one, but with Channel being the &quot;final frontier&quot; of my GameCube
    RNG experience and the availability of far better shiny spreads, it only seemed fitting to get
    one from there as well.<br />
    <br />
    Antares is one half of a pair of CHANNEL Jirachi, his sister being a non-shiny 6IV named
    <a class="text-info text-decoration-none" href="https://twitter.com/LegoFigure11/status/1428007550415372299?s=20">&quot;Alcyone&quot;</a>
    gifted to <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/550428/">kasib</a>.
    Both are named after stars (with thanks to kasib for inspiration) and are full
    <a class="text-info text-decoration-none" href="https://twitter.com/LegoFigure11/status/1428007671676825601?s=20">Ribbon Masters</a>
    as on Gen 8. This would not have been possible without the help of
    <a class="text-info text-decoration-none" href="https://www.smogon.com/forums/members/387187/">pilica12</a>
    with the Gen 4 Contest Ribbons and
    <a class="text-info text-decoration-none" href="https://www.smogon.com/forums/members/309941/">Max. Optimizer</a>
    for renaming Antares from Betelgeuse in Gen 7 after I changed my mind and wanted him named after
    a bigger, redder star.
  </div>
  <br />
  <hr />
  <br />
</div>