<div class="pb-2">
  <h2 class="anchored">#830 - Onion</h2>
  {% include_relative resources/titles/joyful.html %}
  <div class="img-container">
    <img class="img-fluid" src="./resources/images/830s.gif" />
  </div>
  <div class="text-muted fst-italic">
    Sprite by <a class="text-muted text-decoration-none" href="https://www.smogon.com/forums/threads/3647722/" target="_blank">leParagon/PumpkinPastel <i style="font-size:0.7rem;" class="bi bi-box-arrow-up-right"></i></a>
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/premier.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Eldegoss</span> | <span class="male">M</span> | {% include_relative resources/shiny/square.html %}</h5>
  <div class="text-muted">
    <span class="male">Lego</span> | <span class="text-light">073145</span> | {% include_relative resources/origin/shield.html %}
  </div>
  <div>
    <div data-bs-toggle="tooltip" title="Minted from Bashful" class="text-muted">
      <span class="text-light">25</span> |
      <span class="text-primary">28</span> |
      <span class="text-light">7</span> |
      <span class="text-danger">12</span> |
      <span class="text-light">1</span> |
      <span class="text-light">0</span>
    </div>
  </div>
  <br />
  <div>
    I fell in love with Eldegoss the moment I saw it revealed, and after a close friend sent me
    <a class="text-decoration-none text-info" href="https://pbs.twimg.com/media/D8bYePfVsAEVFyq?format=jpg&name=medium">some art</a>
    of it done up as Miror B. from the Orre games I quickly adopted it as my mascot and just knew
    I had to have one. But not just any old Eldegoss would do, no, it had to be special &ndash; so I
    decided to hunt for a shiny with a specific personality mark using the one-time encounter on
    the Route 5 bridge. After 21 revisions of a bot written by
    <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/363160/">Anubis</a>
    and 227,967 encounters over the span of several months, the perfect Eldegoss
    <a class="text-decoration-none text-info" href="https://twitter.com/LegoFigure11/status/1433756059814952962">finally showed up</a>
    and bonked me on the head!
    <br />
    <br />
    His nickname is born of me changing my name to &quot;Mother Onion&quot; in response to a meme
    posted in the <a class="text-info text-decoration-none" href="https://discord.gg/SKN7gmh" target="_blank">Smogon Wi-Fi discord server</a>,
    and because I was using the Miror B. Eldegoss as my profile picture we quickly concluded that
    Eldegoss was not in fact cotton but rather an onion. The name stuck, and the rest is history!
    Onion has
    <a class="text-decoration-none text-info" href="https://twitter.com/LegoFigure11/status/1436666759302369285">all the available ribbons as of Gen 8</a>,
    and sees use on my BSS team alongside
    <a class="text-info text-decoration-none" href="#012-kuranda">Kuranda</a> thanks to
    <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/158401/">cant say</a>&apos;s
    teambuilding genius.
  </div>
  <br />
  <hr />
  <br />
</div>