<div class="pb-2">
  <h2 class="anchored">#374 - AAAA</h2>
  {% include_relative resources/titles/exciting-memory.html %}
  <div class="img-container">
    <img class="img-fluid" style="padding-top: 14px;" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/beldum.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/poke.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Beldum</span> | {% include_relative resources/square.html %}</h5>
  <div class="text-muted">
    <span class="female">Lego</span> | <span class="text-light">1390</span> | {% include_relative resources/sapphire.html %}
  </div>
  <div>
    <div data-bs-toggle="tooltip" title="Minted from Gentle" class="text-muted">
      <span class="text-light">1</span> |
      <span class="text-danger">3</span> |
      <span class="text-light">9</span> |
      <span class="text-primary">0</span> |
      <span class="text-light">1</span> |
      <span class="text-light">1</span>
    </div>
  </div>
  <br />
  <div>
    Oh boy, this Beldum... a ridiculous idea for a RS Egg RNG, my aim for this Pok&eacute;mon was to
    get something that was uniquely <span class="fst-italic">me</span>, and what better candidate
    for such a project than Beldum? I realised that &quot;Lego&quot; could be represented by the
    number 1390, and my mission became clear &ndash; I had to fill as many of this things internals
    with that number as possible.<br />
    <br />
    That resulted in it ending up with both a TID and SID of 1390, a PID of 13901390, and the IVs
    listed above, hatched in Meteor Falls for style points. Normally, this wouldn&apos;t pose too
    much of an issue, except that VBA isn&apos;t completely accurate when it comes to RS/FRLG
    Breeding, making an extra RNG call in the middle of the second half of the generation which
    results in a strange mix between the normal and split method that at the time no tool supported
    searching for. Cue several days of pain and suffering as I try to figure out what is happening
    and why it&apos;s going wrong, before eventually writing my own script to try and generate the
    spread, only for it to return no results after about 10 hours of searching.<br />
    <br />
    Eventually, I gave up on VBA and decided to try BizHawk instead, where I got it on the second
    attempt thanks to the lack of the extra RNG call. My calibration attempt on BizHawk resulted in
    a Beldum with the PID AAAA1390, and seeing how well that described what I was feeling having
    finally hit my target, I decided to name this Beldum "AAAAAAAAAA". Once I heard them shrieking
    in my boxes, I decided to revise it down to just "AAAA" so as not to disturb my other
    Pok&eacute;mon too much.<br />
    <br />
    This Beldum is still Lv. 5 and is fully Ribbon Mastered (despite how difficult the contests are
    with such a heavily restricted movepool) with thanks to
    <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/511019/">Skadiv</a>
    for helping out with Gen 8 as well as putting up with my complaining during every stage of both
    RNGing and ribboning this Beldum.
  </div>
  <br />
  <hr />
  <br />
</div>