<div class="pb-2">
  <h2 class="anchored">#385 - Antares</h2>
  <div class="img-container">
    <img class="img-fluid" style="padding-top: 12.5px;" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/jirachi.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/poke.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Jirachi</span> | {% include_relative resources/star.html %}</h5>
  <div class="text-muted">
    <span class="male">CHANNEL</span> | <span class="text-light">40122</span> | {% include_relative resources/sapphire.html %}
  </div>
  <div class="text-muted">
    <span class="text-light">27</span> |
    <span class="text-light">28</span> |
    <span class="text-light">24</span> |
    <span class="text-light">28</span> |
    <span class="text-light">31</span> |
    <span class="text-light">24</span>
  </div>
  <br />
  <div>
    Placeholder description
  </div>
  <br />
  <hr />
  <br />
</div>