<div class="pb-2">
  <h2 class="anchored">#113 - Bootleg Shay</h2>
  <div class="h6 text-muted">
    Lucky Pok&eacute;mon
  </div>
  <div class="img-container-80">
    <img class="img-fluid" src="https://cdn.discordapp.com/attachments/874930278928359425/875670463546794004/chansey_icon1.png" height="80" width="80" />
  </div>
  <div class="text-muted fst-italic">
    Art by <a class="text-muted text-decoration-none" href="https://www1.flightrising.com/forums/art/2930760" target="_blank">Twyrine <i style="font-size:0.7rem;" class="bi bi-box-arrow-up-right"></i></a>
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/ultra.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Chansey</span> | <span class="female">F</span> | {% include_relative resources/shiny.html %}</h5>
  <div class="text-muted">
    <span class="male">LegoFigure11</span> <i style="font-size: 0.8rem;" class="bi bi-arrow-left-right" data-bs-toggle="tooltip" title="Obtained in a trade"></i> <span class="female">Skadiv6984</span> | {% include_relative resources/go.html %}
  </div>
  <div class="text-muted">
    <span class="text-light">14</span> |
    <span class="text-light">14</span> |
    <span class="text-light">12</span>
  </div>
  <br />
  <div>
    Bootleg Shaymin was caught as a very lucky wild encounter during the 2021 &quot;Spring into
    Spring&quot; event, while hunting for Shiny Flower Crown Eevee. She is so named because in
    efforts to be more like the small cabbage we all know and love, she is round, green, and wears
    pink flowers on her head. I like to imagine that sometimes she replaces the egg in her pouch
    with a little Shaymin plushie and carries it around with her, too.<br />
    <br />
    She was Lucky Traded to me, where she has since earned the Best Buddy ribbon and makes a great
    adventuring partner. By some freak luck, her IVs allow her to reach exactly 1390CP at Lv.
    50, the maximum level for Pok&eacute;mon in GO. Because she has a cute flower hat she is stuck
    in Pok&eacute;mon GO forever but I wouldn&apos;t have it any other way.
  </div>
  <br />
  <hr />
  <br />
</div>