<div class="pb-2">
  <h2 class="anchored">#012 - Kuranda</h2>
  {% include_relative resources/titles/triumphant.html %}
  <div class="img-container">
    <img class="img-fluid" style="padding-top: 7px;" src="https://play.pokemonshowdown.com/sprites/gen5ani/butterfree.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/master.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Butterfree</span> | <span class="female">F</span></h5>
  <div class="text-muted">
    <span class="male">Lego</span> | <span class="text-light">1390</span> | {% include_relative resources/origin/xd.html %}
  </div>
  <div>
    <div data-bs-toggle="tooltip" title="Minted from Docile" class="text-muted">
      <span class="text-light">28</span> |
      <span class="text-primary">0</span> |
      <span class="text-light">29</span> |
      <span class="text-light">28</span> |
      <span class="text-light">30</span> |
      <span class="text-danger">31</span>
    </div>
  </div>
  <br />
  <div>
    Kuranda is my first ever truly &quot;complete&quot; ribbon master with
    <a class="text-decoration-none text-info" href="https://twitter.com/LegoFigure11/status/1435949491010433029">all 85 ribbons</a>,
    including the National Ribbon from Colosseum/XD. While Butterfree might seem like an unusual
    choice for a Ribbon Master, I've had a soft spot for the Compound Eyes Sleep
    Powder&ndash;spamming butterflies ever since
    <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/158401/">cant say</a>
    sent me a Gen 6 team featuring River-pattern Vivillon that we both used with great success.
    He used another team featuring Vivillon to get out of a slump and in to a high ladder position
    during Gen 7, and when Vivillon fell victim to Dexit in Gen 8, he instead decided to
    <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/threads/3670708/">build a team around Butterfree</a>.
    I took to this team like a duck to water, and have used it or a variation of it every series
    since. As such, I decided to RNG and fully Ribbon Kuranda to pay homage to the oft-overlooked
    early game bugs that have triumphed over so many opponents across the last 3 generations.
    <br />
    <br />
    The nickname Kuranda is a personal reference to a small town in Far North Queensland, Australia, nestled
    amongst tropical rainforest. It is home to a butterfly sanctuary that I was lucky enough to visit
    on a childhood holiday back in 2004 after seeing it on a travel television show. This Ribbon
    Master wouldn&apos;t have been possible without the help of <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/511019/">Skadiv</a>
    in Gen 4 and Gen 8, thank you for your assistance!
  </div>
  <br />
  <hr />
  <br />
</div>