<div class="pb-2">
  <h2 class="anchored">#361 - moodE</h2>
  <div class="img-container">
    <img class="img-fluid" style="padding-top: 16.5px;" src="https://play.pokemonshowdown.com/sprites/gen5ani-shiny/snorunt.gif" />
  </div>
  <div class="ball-container">
    <img class="img-fluid" src="https://raw.githubusercontent.com/msikma/pokesprite/master/items-outline/ball/poke.png" />
  </div>
  <h5 class="text-muted"><span class="text-warning">Snorunt</span> | <span class="female">F</span> | {% include_relative resources/star.html %}</h5>
  <div class="text-muted">
    <span class="male">LegoFig</span> | <span class="text-light">21059</span> | {% include_relative resources/emerald.html %}
  </div>
  <div class="text-muted">
    <span class="text-light">31</span> |
    <span class="text-light">31</span> |
    <span class="text-light">31</span> |
    <span class="text-light">31</span> |
    <span class="text-primary">31</span> |
    <span class="text-danger">31</span>
  </div>
  <br />
  <div>
    This Snorunt is my proudest ever Retail RNG, a flawless shiny breed abused on my Emerald cart in
    2016 while I was at school, with my GBA hidden in my backpack. I chose Naive nature because I
    wanted to use the recently-released Mega Glalie with Double-Edge and Freeze Dry, and Double-Edge
    was only available as a Gen 3 tutor.<br />
    <br />
    She's named after my Discord bot,
    <a class="text-decoration-none text-info" href="https://github.com/LegoFigure11/moodE">moodE</a>,
    who originated as a bot for the Battle Spot room on Pok&eacute;mon Showdown! and was named by
    <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/158401/">cant say</a>
    and <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/234462/">NOVED</a>
    as a portmanteau of Glalie's Ability Moody (with which it was extremely dominant in BSS at the time),
    and the suffix &ndash;E, a customary ending to the name of many PS! bots at the time.<br />
    <br />
    She has grown up through the years just as my bot has, and was the first ever Ribbon Master that
    I completed with a little help from
    <a class="text-decoration-none text-info" href="https://www.smogon.com/forums/members/511019/">Skadiv</a>
    in Gen 8. Fortunately, thanks to the Ability Patch, she can finally have the ability Moody and
    fulfill her destiny!<br />
    <br />
    While she has all of the ribbons at Lv. 5, there is also a Lv. 100 fully BR evolved version of
    her with the Battle Ready mark and the Master Ball-tier Ribbon from Gen 8.
  </div>
  <br />
  <hr />
  <br />
</div>